


/* Estilo comum para os botões */
button {
    background-color: #007bff; /* Cor de fundo */
    color: rgb(255, 255, 255); /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 8px 16px; /* Diminuindo o tamanho do botão */
    font-size: 14px; /* Tamanho da fonte reduzido */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Indica que é clicável */
    transition: background-color 0.3s, transform 0.3s; /* Efeito de transição */
}

/* Estilo para o botão "Próxima Etapa" */
.next-btn {
    background-color: #007bff; /* Cor de fundo */
}

.next-btn:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

/* Estilo para o botão "Anterior" */
.previous-btn {
    background-color: #ffc107; /* Cor de fundo verde */
    color: rgb(7, 7, 7); /* Cor do texto */
}

.previous-btn:hover {
    background-color: #ffc107; /* Cor de fundo verde ao passar o mouse */
    color: rgb(7, 7, 7); /* Cor do texto */
}



/* Estilos botão navegação*/

.question-section {
    display: none;
}

.question-section.active {
    display: block;
}

.navigation-buttons {
    margin-top: 20px;
}


/* Estilos Gerais */

.question-section {
    display: none;
}

.question-section.active {
    display: block;
}

legend {
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0056b3;
    /* Azul escuro */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
}




h2 {
    margin-top: 1.5rem;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 0.5rem;
}

/* Estilos do Formulário */
.question-section {
    margin-bottom: 1.5rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #b6b4b4; /* Adiciona uma borda azul */
    box-shadow: 0 4px 8px rgba(226, 226, 226, 0.3); /* Adiciona a sombra azul */
    
}





.question {
    margin-bottom: 1rem;
}

label {
    display: block;
    /* Faz a label ocupar a linha toda */
    margin-bottom: 0.5rem;
}


input[type="radio"] {
    margin-right: 0.4rem;
    accent-color: #0056b3;
    /* Muda a cor do radio button (opcional) */

}

/* Estilo do Botão */
#submit-button {
    background-color: #28a745;
    padding: 8px 16px; /* Diminuindo o tamanho do botão */
    font-size: 14px; /* Tamanho da fonte reduzido */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#submit-button:hover {
    background-color: #3e8e41;
}

/* Estilos dos Resultados */
#results {
    margin-top: 2rem;
    text-align: center;
    display: none;
}


#overall-score,
#recommendations {
    font-size: 1.1em;
    margin: .8em;
    font-weight: bold;
}


